{% extends "base.html" %}
{% block title %} Biografia {% endblock %}
{% block nav %}
{% endblock %}
{% block content %}



<style type="text/css">

	.VisorBiografia{
		margin-left: 20px;
		
	}
	.perfil{
		width: 25%;
		border-radius: 20px;
		background-color: rgb(77,87,93);
		height: 100vh;
		position:fixed;

	}
	.biografia{
		margin-left: 300px;		
		background-color: #e6eaea;
		
	}
	.ProfileImage{
		border-radius: 50%;
		height: 200px;
		width: 200px;
		background-color: white;
		background-image: url("{{ empresaimage.companyimage.url }}");
		background-size: 100% 100%;
		
		margin: 50px ;
	}
	.description{
		color:rgba(255,255,255,1);
		background-color: rgba(0,0,0,0.5);
		text-align: center;
		padding: 15px 69px;
		margin:40px 50px;
		border-radius: 20px;
	}
	 .perfilNombre{
		margin: 50px;
	}
	}

</style>
  <div class="row featurette VisorBiografia">

        <div class="col-md-3  perfil">
                <div class="row featurette">

	        		<div class="ProfileImage"></div>
	        	      <hr class="featurette-divider">

	        		<h3 class="perfilNombre">Enterprise : <span class="text-muted"> {{ empresa.companyname }}</span></h3>
	        		<h3 class="perfilNombre">Contact : <span class="text-muted"> {{ empresa.contact }}</span></h3>
 	        		


        		</div>
        	
        </div>
          <!--
          <h2 class="featurette-heading"> NUESTRA OBJETIVO <span class="text-muted"> ;D </span></h2>

          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          -->

        <div class="col-md-9 biografia ">
        	<div class="row featurette">
        	<img src="{{empresaimage.biography.url }}" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        	<!--
	          <img src="http://lorempixel.com/990/200/" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	          -->
	          <br>
        		<div  class="description">
        			<p>
        			{{ empresa.companyconcept }}
        			</p>
        		</div>	
        	</div>
        	<center>		
          <h3>Ultimas Publicaciones</h3>

			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar Curso</button>

				
        	</center>

          
          <center>


          	<h2>Ofertas o publicaciones </h2>
          	{% for a in publico %}

<style type="text/css">
	.center-block_{
	margin-top: 30px;
}
		.cajaProducto_{
			margin-top: 34px;
		width: 80%;
		}
        .OfertasProducto_{
        height: 160px;
        border-radius: 2px;
        width: 80%;
		margin: 5px 10%;
		border:1px red solid ;	
        }

		.OfertasProductoDescripcion_{
		font-size: 20pt;
		white-space:nowrap;
		overflow:hidden;
		text-overflow: ellipsis;

		}
		.imagenProducto_{
			margin-top: 30px;
			height: 100px;
			background-color: red;
			width: 100px;
			background-size: 100% 100%;
			background-image: url("{{ a.postimage.imagepost.url }}");
		}

</style>
		<a href="{% url 'postDetail' a.slug %}" onclick="window.location.href='/detalle/{{ a.slug }}'" >
			
			<div class="row OfertasProducto_">
					
			        <div class="col-md-3  perfil_">
						<div class="imagenProducto_">
							
						</div>	        
			        	
			        </div>

			        <div class="col-md-9  ">
				    
						<h4>{{ a.title }}</h4>
						<br>
						<div class="cajaProducto_">
						<p class="OfertasProductoDescripcion_"> {{ a.description }} </p>
						</div>

			        </div>
		        

			</div>
		</a>

			<br>

          	{% endfor%}
          </center>
        </div>
   </div>


<!-- pop up  para realizar la publicacion -->


<!-- popup para agregar curso -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Hacer una Publicacion</h4>
      </div>
      <div class="modal-body">
        <!--  -->
<form method="post" enctype="multipart/form-data" >
{% csrf_token %}
				
				{{ frm.as_p }}
				{{ fr.as_p }}
				<table>
					<tr>
						
					</tr>
					<!-- 
						<tr>
						<td>Selecionar &nbsp;</td>
						<td>{{ fr.nombre }}	
							{{ fr.nombre.errors }}
							
						</td>
					</tr> -->

				</table>
        	<button type="submit" class="btn btn-primary">Aceptar</button>
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</form>
        <!--  -->
      </div>
    </div>
  </div>
</div>

{% block footer %}
{% endblock %}

{% endblock %}