{% extends "base.html" %}
{% block title %} Biografia {% endblock %}
{% block nav %}
{% endblock %}
{% block content %}

<style type="text/css">
	*{
	margin: 0px;
	padding: 0px;
	}
	aside{
		margin: 15px 5px;
		background-color: green;
		height: 100vh;
		width: 20%;
		display: inline-block;
		border-radius: 10px;
		float: left;
	}
	.biografiaDetalle{
		margin: 15px 15px;
		background-color: white;
		width:  75%;
		display: inline-block;
		border-radius: 10px;
	}
	.profileImage{
		height: 150px;
		width: 150px;
		border-radius: 50%;
		
	}
	h3 , h4{
		text-align: center;
	}
	.biografiaDetalle{

	}
	.imagenBiografia{
		width: 100%;
		height: 400px;
		margin: 15px 0px;
		padding: 5px 2%;
	}
	.descripcionBiografia{
		background-color: #eceeee;
		width: 80%;
		margin: 15px 10%;
		border-radius: 5px
	}
	.containerTotal{
		margin: 0px 2%;
		padding: 4px 1%;
	}
</style>
<div class="containerTotal">
	
	<aside>
		<div class="">
		<img src="{{ empresaimage.companyimage.url }}" class="featurette-image img-responsive profileImage center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
		<br>
		<h3 class="perfilNombre"> <span class="glyphicon glyphicon-home"> </span><b>Enterprise:</b></h3>
		<h4>{{ empresa.companyname }}</h4>
	    <h3 class="perfilNombre"> <span class="glyphicon glyphicon-earphone"> </span><b>Contact:</b></h3>
	    <h4>{{ empresa.contact }}</h4>
	    <br>
	    <br>
	    <center>	
	    <a type="button" href="{% url 'post' %}" class="btn btn-default" >  <span class="glyphicon glyphicon-backward"> </span>  Volver</a>
	    </center>
	    
	</aside>
	<!-- es la parte de la biografia descripcion y publicaciones -->
	<div class="biografiaDetalle">
		<div class="biografia">
			<div class="imagenBiografia">
				<img src="{{empresaimage.biography.url }}" class="imagenBiografia featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
			<br>
			<div class="descripcionBiografia">
				<p>{{ empresa.companyconcept }}</p>
			</div>
		</div>
		<div class="publicacion">
		    <center>		
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Publicar</button>
          		<h3>Publicaciones</h3>
        	</center>
			<center>
          	{% for a in publico %}

		<style type="text/css">
				
				.cajaProducto_{
					margin-top: 34px;
				width: 80%;
				}
		        .OfertasProducto_{
		        height: 160px;
		        border-radius: 2px;
		        width: 80%;
				margin: 5px 10%;
				border:1px red solid ;	
		        }

				.OfertasProductoDescripcion_{
				font-size: 20pt;
				white-space:nowrap;
				overflow:hidden;
				text-overflow: ellipsis;

				}
				.imagenProducto_{
					margin-top: 30px;
					height: 100px;
					background-color: red;
					width: 100px;
					background-size: 100% 100%;
					/* background-image: url("{{ a.postimage.imagepost.url }}"); 
					*/
				}

				.imagenPro {
				width: 100px;
				height: 100px;
				}

		</style>
		<a href="{% url 'postDetail' a.slug %}" onclick="window.location.href='/detalle/{{ a.slug }}'" >
			
			<div class="row OfertasProducto_">
					
			        <div class="col-md-3  perfil_">
						<div class="imagenProducto_">
							        	<img src="{{ a.postimage.imagepost.url }}" class="featurette-image img-responsive center-block imagenPro" data-src="holder.js/500x500/auto" alt="Generic placeholder image">

						</div>	        
			        	
			        </div>

			        <div class="col-md-9  ">
				    
						<h4>{{ a.title }}</h4>
						<br>
						<div class="cajaProducto_">
						<p class="OfertasProductoDescripcion_"> {{ a.description }} </p>
						</div>

			        </div>
		        

			</div>
		</a>

			<br>

          	{% endfor%}
          </center>
        </div>
   </div>
		</div>
		
	</div>
</div>

<!-- pop up  para realizar la publicacion -->
<!-- popup para agregar curso -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Hacer una Publicacion</h4>
      </div>
      <div class="modal-body">
        <!--  -->
<form method="post" enctype="multipart/form-data" >
{% csrf_token %}
				
				{{ frm.as_p }}
				{{ fr.as_p }}
				<table>
					<tr>
						
					</tr>
					<!-- 
						<tr>
						<td>Selecionar &nbsp;</td>
						<td>{{ fr.nombre }}	
							{{ fr.nombre.errors }}
							
						</td>
					</tr> -->

				</table>
        	<button type="submit" class="btn btn-primary">Aceptar</button>
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</form>
        <!--  -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}